@model FinanceAppMVC.Models.Asset

@{
    ViewBag.Title = "Create";
    var options = new AjaxOptions {
      Url = Url.Action("Create", "Asset"),
      UpdateTargetId = "asset_list",
      HttpMethod = "POST",
      LoadingElementId = "loader",
      OnSuccess="$('#Symbol').val('');"
    };
}

<script type="text/javascript">

    var myResp = {};
    var YAHOO = { Finance: { SymbolSuggest: {} } };

    $(document).ready(function () {

        /*$("#SymbolInput").autocomplete({
            source: function (request, response) {
                myResp = response;
                yahooURL = "http://d.yimg.com/autoc.finance.yahoo.com/autoc";
                $.ajax({
                    url: yahooURL,
                    type: "GET",
                    data: { query: request.term },
                    dataType: "JSONP",
                    jsonpCallback: "YAHOO.Finance.SymbolSuggest.ssCallback",
                    crossDomain: true,
                    success: function (data) {
                        console.log("yay");
                    }
                });
            },
            select: function (event, ui) {
                symbol = ui.item.value;
                $("#Symbol").val(symbol.substring(0, symbol.indexOf("-") - 1));
                $("#Name").val(symbol.substring(symbol.indexOf("-") + 2));
            }
        });

        YAHOO.Finance.SymbolSuggest.ssCallback = function (response) {
            data = response.ResultSet.Result;
            var suggestions = [];
            $.each(data, function (i, val) {
                suggestions.push(val.symbol + " - " + val.name);
            });
            myResp(suggestions);
        }*/

    });
</script>

@using (Ajax.BeginForm(options)) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Asset</legend>

        <div class="editor-field">
            @Html.ValidationMessageFor(model => model.Symbol)
            @Html.EditorFor(model => model.Symbol)
        </div>

        <input id="add_asset" type="submit" value="Add Asset" />

        <div id="loader" style="display:none"><img src="~/Images/ajax-loader.gif" /></div>

    </fieldset>
}
