@using FinanceAppMVC.Extensions
@model IEnumerable<FinanceAppMVC.Models.Portfolio>

@{
    var options = new AjaxOptions
    {
        UpdateTargetId = "PortfolioList",
        Confirm = "Are you sure you want to delete this portfolio?",
        HttpMethod = "POST",
        LoadingElementId = "loader",
        OnComplete = "$('table.table').rowlink()"
    };
}

<div class="container">
    <h2 style="float:left;">My Portfolios</h2>
    @Html.RawActionLink("<i class=\"icon-plus icon-white\"></i>", "Create", "Portfolio", null, new { @class = "btn btn-success", style = "float:right;margin-top:15px;margin-right:8px" }) 
</div>

<table class="table table-striped table-hover" data-provides="rowlink">
    @foreach (var item in Model) {
        <tr>
            <td class="rowlink" style="width:100%"><h4>@Html.ActionLink(item.PortfolioName, "Details", new { id=item.ID })</h4></td>
            <td class="nolink" style="text-align:right">@Ajax.RawActionLink("<i class=\"icon-trash icon-white\"></i>", "Delete", new { id=item.ID }, options, new { @class = "btn btn-danger" })</td>
        </tr>
    }
</table>

<div id="loader" style="display:none"><img src="~/Images/ajax-loader.gif" /></div>