@{
    ViewBag.Title = "Finance App Home Page";
}

<h2>My Assets</h2>
<div id="asset_list">
    @Html.Action("AssetList", "Asset")
</div>
<div id="create_form">
    @Html.Action("Create", "Asset")
</div>

